body {
  background-color: #393e46;
  text-align: center;
}
h1 {
  font-family: "Lobster", cursive;
  font-size: 8rem;
  text-shadow: 5px 0 #232931;
  color: #4ecca3;
  margin: 30px;
}
.player {
  font-family: "Indie Flower", cursive;
  color: #4ecca3;
  font-size: 2rem;
  padding: 5% 20%;
  margin: 0;
}

.footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 7%;
  color: white;
  text-align: center;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
